
.document-style {
	background-color: #000;
}

.header-style {
	width: 1280px;
}

#gGridLayoutRoot {
  width: 1280px;
  height: 100%;
  }

#mycontainer{
	width: 1280px;
	height: 100%;
	margin-left:auto;
	margin-right:auto;

	font-family: Helvetica, Arial, sans-serif;

	background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F9), to(#B7B7CC));
	background: -moz-linear-gradient(top, #F2F2F9, #B7B7CC)
}

.gToolBar {
	text-align: left;
}
.gControlBar ul.menu > li > .iconized {
	width: 20px;
	padding-left: 0px;
}
.gControlBar ul.menu {
	padding-left: 0px;
}
